<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<typeAliases>
		<typeAlias alias="User" type="org.bbs.entity.User" />
		<typeAlias alias="Board" type="org.bbs.entity.Board" />
		<typeAlias alias="UserLoginLog" type="org.bbs.entity.UserLoginLog" />
		<typeAlias alias="Post" type="org.bbs.entity.Post" />
		<typeAlias alias="Reply" type="org.bbs.entity.Reply" />
	</typeAliases>
</configuration>